
.body {
  font-family: "Open Sans Light";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

.text {
  font-family: "Open Sans Light";
  src: url("https://fonts.google.com/download?family=Open%20Sans");
  font-size: 2.5vw;
  max-width: 100%;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  color: #55A8A3;

}

.bodytext {
  font-family: "Open Sans Light";
  src: url("https://fonts.google.com/download?family=Open%20Sans");
  font-size: 1.5vw;
  max-width: 100%;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  color: #55A8A3;
}

h3{
  text-align: center;
}
h1{
  text-align: center;
  padding: 100px 10px 0px 10px;
}

.h2right {
  text-align: right;
  padding: 0px 250px 0px 100px;
  max-width: 100%;
}
.h2left {
  text-align: left;
  padding: 100px 0px 0px 250px;
  max-width: 100%;

}

.pleft{
  text-align: left;
  padding-left: 250px;
  color: grey;

}
.pright{
  text-align: right;
  padding-right: 250px;
  color: grey;
}
.white {
  background-color: #fff;
}



.text-p {
  text-align: center;
  font-family: "Open Sans Light";
  src: url("https://fonts.google.com/download?family=Open%20Sans");
  font-size: 1vw;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  color: grey;
  margin-left: auto;
  margin-right: auto;
  width: 250px;

}

.text-p2{
  text-align: center;
  font-family: "Open Sans Light";
  src: url("https://fonts.google.com/download?family=Open%20Sans");
  font-size: 1vw;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  color: grey;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.space {
  padding: 1px 10px 10px 1000px;
  padding-left: 12%;
  padding-top: 0.5%;
  padding-right: 12%;

}

.space2 {
  max-width: 100%;
  height: auto;
  margin: -5px 0px 0px 0px;
  padding: 5vw;
}

.space3 {
  max-width: 100%;
  height: auto;
  margin: -5px 0px 0px 0px;
  padding: 2vw;
}

.btnback {
  background-color: #D0E0DD;
  padding: .1px 50px .1px .1px;
  text-align: right;
  display: block;
  margin: 0px auto;

}

.btntext {
  font-family: "Josefin Sans";
  font-size: 1.5vw;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

.container{
    background-image:url(https://wallpaper.wiki/wp-content/uploads/2017/06/Simple-wallpapers-HD-for-desktop.png);
    background-position:center;
    width: 100%;
    height: 100%;
}

.skyline {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 10px 0px 0px 0px;
}

.button{
  background-color:	Transparent;
  border: none;
  outline: none;
  overflow: hidden;
  color: #55A8A3;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  margin: 1em;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.homebutton {
background-color: #D0E0DD;
background-repeat: no-repeat;
padding: .1px 50px .1px .1px;
text-align: right;
display: block;
margin: 0px auto;
overflow: hidden;
outline: none;
}

.hbutton{
  background-color:	Transparent;
  border: none;
  color: #55A8A3;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  margin: 1em;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.hbutton:hover{
  color: black;
}

.hbutton span {
  transition: 0.5s;
}

.hbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
 .hbutton:hover span{
   padding-right: 25px;
 }
 .hbutton:hover span:after {
   opacity: 1;
   right: 0;
 }

 .divback {
   background-color: #D0E0DD;
 }
/* this is where the regular buttons go */
.button:hover{
  color: black;
}

.button span {
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
 .button:hover span{
   padding-right: 25px;
 }
 .button:hover span:after {
   opacity: 1;
   right: 0;
 }

.table {
  display: table;
  margin: 0-auto;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
ul#horizontal-list li {
  display: inline;
}

html{
  background-color: #fff;
  margin:0;
  padding:0;
}

body{
  margin: 0;
  padding: 0;
  background-color: #D0E0DD;
}

.box{
  width: 1000px;
  height: 500px;
  background-color: green;
}
