@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}
@media screen and (max-width:600px){


}


.body {
  font-family: "Open Sans Light";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

.design {
  padding: 2em 0;

}
.text {
  font-family: "Open Sans Light";
  src: url("https://fonts.google.com/download?family=Open%20Sans");
  font-size: 2.5em;
  max-width: 100%;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #55A8A3;

}

#hello {
  font-family: "Open Sans Light";
  src: url("https://fonts.google.com/download?family=Open%20Sans");
  font-size: 3.8em;
  max-width: 100%;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: #55A8A3;
  box-sizing: border-box;
  padding: 0 0 0;
  margin: 0;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.bodytext {
  font-family: "Open Sans Light";
  src: url("https://fonts.google.com/download?family=Open%20Sans");
  font-size: 1.5vw;
  max-width: 100%;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #55A8A3;
}

.pdown{
  font-family: "Open Sans Light";
  src: url("https://fonts.google.com/download?family=Open%20Sans");
  max-width: 100%;
  color: grey;
  text-align: center;
  line-height: 1.1;
  font-size: 1.5em;
  margin: 0 0 0 0;
  font-weight: 300;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h2{
  font-family: "Open Sans Light";
  src: url('OpenSans-Light.ttf');
  font-size: 3.8em;
  max-width: 100%;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: #55A8A3;
  line-height: 1.1;
  box-sizing: border-box;
  padding: 0 0 0;
  margin: 0;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align: center;
  -webkit-font-smoothing: antialiased;

}

h3{
  text-align: center;
}
h1{
  text-align: center;
  padding: 100px 10px 0px 10px;
}
.headings{
  font-family: "Open Sans Light";
  src: url('OpenSans-Light.ttf');
  font-size: 3.8em;
  max-width: 100%;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: #55A8A3;
  line-height: 1.1;
  box-sizing: border-box;
  padding: 0 0 0;
  margin: 0;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.h2right {
  text-align: right;
  padding: 0% 25% 0% 10%;
  max-width: 100%;
  height: auto;
}
.h2left {
  text-align: left;
  padding: 10% 0% 0% 25%;
  max-width: 100%;
  height: auto;

}

.pleft{
  text-align: left;
  padding-left: 25%;
  color: grey;
  height: auto;

}
.pright{
  text-align: right;
  padding-right: 25%;
  color: grey;
  height: auto;
}
.white {
  background-color: #fff;
}



.text-p {
  text-align: center;
  font-family: "Open Sans";
  src: url("https://fonts.google.com/download?family=Open%20Sans");
  font-size: 1vw;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  color: grey;
  margin-left: auto;
  margin-right: auto;
  width: 250px;

}

.text-p2{
  font-family: "Open Sans Light";
  src: url("https://fonts.google.com/download?family=Open%20Sans");
  font-size: 1em;
  max-width: 100%;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  color: grey;
  line-height: 1.1;
  box-sizing: border-box;
  padding: 0 0 0;
  margin: 0;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.space {
  padding: 1px 10px 10px 1000px;
  padding-left: 12%;
  padding-top: 0.5%;
  padding-right: 12%;

}
.space2{
  max-width: 100%;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 5vw;
}

.space2up {
  max-width: 100%;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 5vw;
  padding-bottom: 5px;
  padding-top: 5px;
}
.space2down {
  max-width: 100%;
  height: auto;
  margin: -5px 0px 0px 0px;
  padding: 5vw;
  padding-top: 5px;
}

.space3 {
  max-width: 100%;
  height: auto;
  margin: -5px 0px 0px 0px;
  padding: 2vw;
}
.space4 {
  max-width: 25%;
  height: auto;
  margin: 0px 40px 0px 40px;
  padding: 3vw;
}

.btnback {
  background-color: #D0E0DD;
  padding: 25px 50px 0px 0px;
  text-align: right;
  display:  block;
  margin: 0px auto;
  max-width: 100%;
  height: auto;

}

.btntext {
  font-family: "Josefin Sans";
  font-size: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

#skyline {
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  display: block;
}
img{
  width: 100%;
  vertical-align: middle;
  border: 0;
  box-sizing: border-box;
  line-height: 20px;
}

.button{
  background-color:	Transparent;
  border: none;
  outline: none;
  overflow: hidden;
  color: #55A8A3;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  margin: 1em;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}


.homebutton {
background-color: #D0E0DD;
background-repeat: no-repeat;
padding: .1px .1px .1px .1px;
text-align: right;
display: block;
margin: 0px auto;
overflow: hidden;
outline: none;
}

.hbutton{
  background-color:	Transparent;
  border: none;
  color: #55A8A3;
  padding: 1px;
  text-align: right;
  text-decoration: none;
  margin: 1em;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.hbutton:hover{
  color: black;
}

.hbutton span {
  transition: 0.5s;
}

.hbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
 .hbutton:hover span{
   padding-right: 25px;
 }
 .hbutton:hover span:after {
   opacity: 1;
   right: 0;
 }

 .divback {
   background-color: #D0E0DD;
 }
/* this is where the regular buttons go */
.button:hover{
  color: black;
}

.button span {
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
 .button:hover span{
   padding-right: 25px;
 }
 .button:hover span:after {
   opacity: 1;
   right: 0;
 }

.table {
  display: table;
  margin: 0-auto;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
ul#horizontal-list li {
  display: inline;
}



html{
  background-color: #fff;
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

}

body{
  margin: 0;
  padding: 0;
  background-color: #D0E0DD;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

}

.box{
  width: 1000px;
  height: 500px;
  background-color: green;
}

#top {
  padding-top: 0;
  overflow: hidden;
  box-sizing: border-box;
  text-align: right;

}

#first {
  max-width: 240px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25px;
  padding-top: 50px;

}
#second {
  max-width: 180px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 0px;
}
